            * {
                padding: 0px;
                margin: 0px;
            }
            
            body {
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
                background-image: url(./image/banner.jpg);
                /* background-size: cover; */
                background-repeat: no-repeat;
                background-size: 100% 500px;
                opacity: 1;
            }
            
            .container {
                width: 1200px;
                margin: 0px auto;
                /* border: 3px solid black; */
            }
            
            .header {
                width: 100%;
                height: 500px;
                /* box-shadow: 7px 5px 5px #837d7d; */
            }
            
            .menu {
                border-bottom: 1px solid black;
                height: 60px;
                width: 100%;
                display: flex;
                opacity: 50.0;
            }
            
            .logo {
                height: 50px;
                width: 15%;
                padding: 5px;
            }
            
            .logo img {
                height: 100%;
                width: 100%;
            }
            
            .m-bar {
                width: 85%;
            }
            
            .m-bar-n {
                float: right;
                padding: 20px;
            }
            
            .m-bar-n a {
                border-right: 2px solid gray;
                text-transform: uppercase;
                color: black;
                text-decoration: none;
                padding: 0px 10px;
                font-size: 15px;
            }
            
            .m-bar-n a:last-child {
                border: none;
            }
            
            .m-bar-n a:hover {
                background-color: gray;
                color: white;
                box-shadow: 3px 5px 7px black;
            }
            
            .contant {
                width: 100%;
                margin-top: 90px;
                font-family: cursive;
            }
            
            .contant h2 {
                margin: 15px;
                font-size: 100px;
                color: #4e4e49f2;
                ;
                text-align: center;
                font-weight: 200;
                text-transform: capitalize;
            }
            
            .contant p {
                margin: 30px;
                font-size: 25px;
                color: #4e4e49f2;
                text-align: center;
                font-weight: 100;
                text-transform: capitalize;
            }
            
            .contant a {
                text-decoration: none;
                font-size: 20px;
                color: black;
                font-weight: 100;
                text-transform: capitalize;
                background-color: #4e4e49f2;
                padding: 10px;
                margin-left: 540px;
                border-radius: 10px;
            }
            
            .contant a:hover {
                background-color: gray;
                color: black;
                border: 1px dotted black;
                box-shadow: 2px 4px 6px black;
            }
            
            .ob {
                color: #e78c8c;
            }
            
            .inn {
                color: #f9f9f9;
            }
            
            .service {
                background-image: linear-gradient(to left, gray, white);
                box-shadow: 2px 4px 7px black;
                padding: 20px;
                overflow: hidden;
            }
            
            .s-h2 {
                text-align: center;
                margin: 40px;
            }
            
            .demo {
                float: left;
                display: flex;
                margin-left: 25px;
            }
            
            .demo1,
            .demo2,
            .demo3,
            .demo4,
            .demo5 {
                width: 350px;
                height: 450px;
                margin: 10px;
                box-shadow: 3px 6px 9px gray;
                border-radius: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .demo1 img,
            .demo2 img,
            .demo3 img {
                width: 180px;
                height: 150px;
                padding: 10px;
                margin-bottom: 10px;
                margin-left: 74px;
                border: 1px dotted gray;
                border-radius: 50%;
                margin-top: 16px;
            }
            
            .demo1 h2,
            .demo2 h2,
            .demo3 h2 {
                text-align: center;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            
            .demo1 p,
            .demo2 p,
            .demo3 p {
                text-align: justify;
                text-transform: capitalize;
                margin-bottom: 20px;
                padding: 15px;
            }
            
            .demo1 a,
            .demo2 a,
            .demo3 a {
                text-decoration: none;
                float: right;
                margin-right: 30px;
                text-transform: uppercase;
                background-color: gray;
                padding: 5px 8px;
            }
            
            .demo1 a:hover,
            .demo2 a:hover,
            .demo3 a:hover {
                background-color: whitesmoke;
                border: 1px dotted black;
            }
            
            .our-team {
                background-image: linear-gradient(to right, gray, white);
                box-shadow: 2px 4px 7px black;
                height: 500px;
                text-align: center;
                padding: 20px;
            }
            
            .another-div {
                background-image: linear-gradient(to left, gray, white);
                box-shadow: 2px 4px 7px black;
                height: 500px;
            }
            
            .footer {
                background-image: linear-gradient(to left, black, rgb(49, 49, 49));
                box-shadow: 2px 4px 7px black;
                height: 400px;
            }